
 <!-- <nav class="navbar bg-light">
  <div class="container-fluid bg-secondary">
    <a class="navbar-brand" href="#">
      <img src="E:\Balazs\BME\Temalab\TemaLab2\src\IconImage.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav>  -->

<nav class="navbar navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Online Project Manager</a>
    <div class="d-flex">
      <button type="button" (click)="clickAddTask()" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
        Add Task
      </button>
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
        Add Milestone
      </button>
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
        Finish Project
      </button>
      </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Options</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Project #1</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Project #2</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Project #3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Sign out</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1>Project Management</h1>
      
      <div class="d-flex">
        <button type="button" (click)="clickAddTask()" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
          Add Task
        </button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
          Add Milestone
        </button>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >
          Finish Project
        </button>
      </div>
    </div>
  
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
        Projects
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Project 1</a>
        <a class="dropdown-item" href="#">Project 2</a>
        <a class="dropdown-item" href="#">Project 3</a>
      </div>
    </div>
  
  </nav> -->
  <h1>Tasks:</h1>
  <p>Project #1</p>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Task Name</th>
        <th scope="col">Status</th>
        <th scope="col">Deadline</th>
        <th scope="col">Workers</th>
        <th scope="col">Description</th>
        <th scope="col">Prerequisite</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let row of taskData">
        <td>{{row.text}}</td>
        <td>{{row.statusbar}}</td>
        <td>{{row.day}}</td>
        <td>{{row.workers}}</td>
        <td>{{row.description}}</td>
        <td>{{row.prerequisites}}</td>

        <td>
          <button type="button" (click)="onEdit(row)" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#TaskAddModal" >Edit</button>

          <button class="btn btn-secondary">Archive</button>
         
          <button type="button" (click)="deleteTask(row)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
<div class="modal fade" id="TaskAddModal" tabindex="-1" aria-labelledby="TaskAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="TaskAddModalLabel">Task details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Task name</label>
              <input type="text" formControlName="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            
  
            <label for="exampleInputEmail6" class="form-label">Status</label>
            <div class="form-check">
              <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios1" value="Not started" checked>
              <label class="form-check-label" for="exampleRadios1">
                Not started
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios2" value="In Progress">
              <label class="form-check-label" for="exampleRadios2">
                In Progress
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios2" value="Finished">
              <label class="form-check-label" for="exampleRadios2">
                Finished
              </label>
            </div>
  
  
  
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Deadline</label>
              <input type="date" formControlName="day" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword3" class="form-label">Workers</label>
              <input type="text" formControlName="workers" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword4" class="form-label">Description</label>
              <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword5" class="form-label">Prerequisite</label>
              <input type="text" formControlName="prerequisite" class="form-control" id="exampleInputPassword1">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postTaskDeatails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateTask()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal MILESTONE
<div class="modal fade" id="TaskAddModal" tabindex="-1" aria-labelledby="TaskAddModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="TaskAddModalLabel">Milestone details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Task name</label>
            <input type="text" formControlName="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          

          <label for="exampleInputEmail6" class="form-label">Status</label>
          <div class="form-check">
            <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios1" value="Not started" checked>
            <label class="form-check-label" for="exampleRadios1">
              Not started
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios2" value="In Progress">
            <label class="form-check-label" for="exampleRadios2">
              In Progress
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="statusbar" type="radio" name="statusbar" id="exampleRadios2" value="Finished">
            <label class="form-check-label" for="exampleRadios2">
              Finished
            </label>
          </div>



          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Deadline</label>
            <input type="date" formControlName="day" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword3" class="form-label">Workers</label>
            <input type="text" formControlName="workers" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword4" class="form-label">Description</label>
            <input type="text" formControlName="description" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword5" class="form-label">Prerequisite</label>
            <input type="text" formControlName="prerequisite" class="form-control" id="exampleInputPassword1">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" *ngIf="showAdd" (click)="postTaskDeatails()" class="btn btn-primary">Add</button>
        <button type="button" *ngIf="showUpdate" (click)="updateTask()" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div> -->


<!-- Modal MILESTONE VEGE-->




  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
