<div class="background">
    
    <h1 class="home-title">
        
        <span *ngIf="!shown"></span>
        <span *ngIf="!shown"></span>
        <span *ngIf="shown"></span>
        <span *ngIf="!shown">
            <div class="wait">
            Online Project
        </div>
        </span>
        <span *ngIf="shown"></span>
        <span *ngIf="!shown"><div class="wait">
            Manager
        </div></span>
        <span *ngIf="shown"></span>
        <span *ngIf="!shown"> 
            <div class="wait">
            <button class="btn btn-primary" (click)="CurrentDelay()" >
             Get started
            </button>
        </div>
    </span>
            <span *ngIf="shown"></span>
        <span *ngIf="!shown"></span>
        <span *ngIf="shown"></span>
        <span *ngIf="!shown"></span>
        <span *ngIf="shown"></span>
        <span *ngIf="!shown"></span>
        <span *ngIf="shown"></span>
        <span *ngIf="shown"></span>
        <span *ngIf="shown"></span>
      </h1>


</div>

