.background{
    background-image: url('./background.png');
    color: white;
}

.col-md-7{
    border-radius: 15px 15px 15px 15px;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.63) !important;
}

h1{
    padding: 1rem 2rem;
}

.fw-normal{
    font-size: xx-large;
}



.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ff4876;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 350px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* Masik button animation */
  .button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #243aff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 350px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  .button2:hover span {
    padding-right: 25px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }