.background{
    background-image: url('./background2.png');
    color: white;
}

.col-md-7{
    border-radius: 15px 15px 15px 15px;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 0.63) !important;
    animation: fadeing 2s ease-in forwards 1.4s;
    opacity: 0;
}
.col-md-7 label{
  font-size: 400%;
}
@keyframes fadeing {
  100%{
    opacity: 1;
  }
  0%{
    opacity: 0;
  }
}

h1{
    padding: 1rem 2rem;
}

.fw-normal{
    font-size: xx-large;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #ff4876;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 350px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* Masik button animation */
  .button2 {
    display: inline-block;
    border-radius: 4px;
    background-color: #243aff;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 8px;
    width: 350px;
    transition: all 0.3s;
    cursor: pointer;
    margin: 5px;
  }
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.3s;
  }
  
  .button2:hover span {
    padding-right: 25px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }


  /* input{
    border-width: thick;
    border-color: #ff4876;
    animation: shift 0.5s ease-in forwards 2.5s;
    opacity: 0;
  } */

  input {
    color: #fff;
    font-size: 1.25rem;
    line-height: 1;
    border-style: none;
    outline: none;
    height: calc(1em + 1.6em + 0.5em);
    width: 100%;
    padding: 0.8em 1em;
    border: 0.2em solid transparent;
    background-image: linear-gradient(#000, #000),
      linear-gradient(120deg, #f09 0%, #0ff 50%, #9f0 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 1.8em;
    background-size: 200% 100%;
    /* transition: background-position 0.8s ease-out; */
    animation: borderShift 1.5s ease-in infinite alternate-reverse;

  }
  .rotate{
    animation: spin 1.5s linear ;
  }
    @keyframes spin {
      100%{
        transform: rotateZ(360deg);
      }
    }

    @keyframes borderShift {
      100%{
        background-position: 100% 0;
      }
    }

    input:hover {
      background-position: 100% 0;
    }

    input:focus {
      outline: 2px dashed #ad2b89;
      outline-offset: 0.5em;
      color: white;
    }







  label{
    animation: shift-label 0.5s ease-in forwards 2s;
    opacity: 0;
  }


  @keyframes shift-label
  {
    100%{
      transform: translateY(0%);
      color:#FFFFFF;
      font-size: 100%;
      opacity: 1;
    }
    50%{
      transform: translateY(100%);
      opacity: 0;
    }
    0%{
      transform: translateY(100%);
      color:#ff4876;
      font-size: 400%;
      opacity: 0;

    }
    
  }

  .button{
    animation: shift-button2 1s cubic-bezier(1,-0.45,.11,1.99) forwards 2.2s;
    opacity: 0;
  }
  @keyframes shift-button2 {
    100%{
      transform: translateX(0%);
      opacity: 1;
    }
    80%{
      transform: translateX(100%);
      opacity: 0;
    }
    0%{
      transform:  translateX(100%);
      opacity: 0;
    }
    
  }
  .button2{
    animation: shift-button 1s cubic-bezier(1,-0.45,.11,1.99) forwards 2s;
    opacity: 0;
  }
  @keyframes shift-button {
    100%{
      transform: translateX(0%);
      background: #243aff;
      opacity: 1;
    }
    75%{
      transform: translateX(30%);
      background: #1dfdf3;
      opacity: 0;
    }
    0%{
      transform:  translateX(30%);
      background: #1dfdf3;
      opacity: 0;
    }
    
  }

  .h1anim{
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 650%;
    animation: shift-login 2s ease-in forwards .4s;
  }
  .h2anim{
    opacity: 1 !important;
  }

  @keyframes shift-login {
    100%{
      font-size: 300%;
    }
    80%{
      font-size:200%;
    }
    0%{
      font-size: 650%;
    }
  }
  .carousel{
    opacity: 0;
    animation: shiftCarousel 1s ease-in forwards 3.2s;
  }
  @keyframes shiftCarousel
  {
    100%{
      opacity: 1;
    }
    0%{
      opacity: 0;
    }
  }

  @keyframes shift
  {
    100%{
      transform: translateY(0%);
      opacity: 1;
    }
    0%{
      transform: translateY(100%);
      opacity: 0;
    }
  }
  .h1Startanim{
    font-size: 650%;
    animation: startshift 1.5s ease-in forwards;
  }
  @keyframes startshift {
    100%{
      opacity: 0;
    }
    0%{
      opacity: 1;
    }
  }
  .carousel{
    background-color: rgba(0, 0, 0, 0.63) !important;
  }

  .btn-starter{
    background-color: transparent; 
  border: 3px solid #00d4ff;
  font-size:x-large;
  font-style:normal;
  color: #00d4ff;
  width: 100%!important;
  margin-top: 10%;
}
.btn-starter:hover{

  
  background-color:#00d4ff ;
    border: 3px solid #00d4ff;
    color: black; 
}

.btn-starter:focus{
  animation: starter-shift 1s ease-in forwards;
}
@keyframes starter-shift {
  100%{
    opacity: 0;
    transform: translateY(0%);
  }
  0%{
    opacity: 1;
    transform: translateY(100%);
  }
  
}

  /* .h1anim:hover{
    animation: hover-anim 0.5 ease-in forwards;
  }
  label:hover{
    animation: hover-anim 0.5 ease-in forwards;
  }
  h1:hover{
    animation: hover-anim 0.5 ease-in forwards;
  }
  @keyframes hover-anim {
    100%{
      color:#ff4876
    }
    0%{
      color:#ff4876
    }
  } */

  
