<form *ngIf="showAddTask" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" [(ngModel)]="text" id="text" placeholder="Add Task">

    </div>
    <div class="form-control">
        <label for="text">Status</label>
        <input type="radio" name="statusbar" value="Started" [(ngModel)]="statusbar" id="statusbar" placeholder="Add status">
        <label for="Started">Started</label>
        <input type="radio" name="statusbar" value="InProgress" [(ngModel)]="statusbar" id="statusbar" placeholder="Add status">
        <label for="InProgress">In Progress</label>
        <input type="radio" name="statusbar" value="Stopped" [(ngModel)]="statusbar" id="statusbar" placeholder="Add status">
        <label for="Stopped">Stopped</label>
        <input type="radio" name="statusbar" value="Not Started" [(ngModel)]="statusbar" id="statusbar" placeholder="Add status">
        <label for="Not Started">Not Started</label>
    </div>
    <div class="form-control">
        <label for="text">Deadline</label>
        <input type="date" name="day" [(ngModel)]="day" id="day" placeholder="Add Deadline">
    </div>
    <div class="form-control">
        <label for="text">Workers</label>
        <input type="text" name="workers" [(ngModel)]="workers" id="workers" placeholder="Add workers">
    </div>
    <div class="form-control">
        <label for="text">Desciption</label>
        <input type="text" name="description" [(ngModel)]="description" id="description" placeholder="Add description">
    </div>
    <div class="form-control">
        <label for="text">Prerequisite</label>
        <input type="text" name="prerequisite" [(ngModel)]="prerequisite" id="prerequisite" placeholder="Add description">
    </div>
    <input type="Submit" value="Save Task" class="btn btn-block"/>

</form>
